body {
	background-color:#082338;
	margin:0;
	padding:0;
	font-family: "PT Serif",Georgia,Times,"Times New Roman",serif;
	font-size: 16px;
	color: #444;
}

* {
	margin:0;
	padding:0;
}

p {
	line-height: 1.5em;
	margin-bottom: 20px;
}

/*a {*/
	/*color: #A20E1A;*/
/*}*/

a:hover {
	color: #000;
}

a:focus {
	outline: none;
}

h1 {
	color: #155a8e;
	font-weight: bold;
	font-size: 40px;
	padding: 15px 0;
}

h2 {
	color: #155a8e;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 31px;
	letter-spacing: 0.5px;
	font-weight: normal;
	padding: 0 0 5px;
	margin: 0;
}

h3 {
	color: #155a8e;
	font-size: 20px;
	font-weight: normal;
	margin-bottom: 10px;
}

h4 {
	padding-bottom: 10px;
	font-size: 18px;
	color: #999;
}

h5 {
	padding-bottom: 10px;
	font-size: 16px;
	color: #999;
}

ul, ol {
	margin: 0 0 35px 20px;
}

li {
	padding-bottom: 10px;
}

li ol, li ul {
	font-size: 14px;
	margin-bottom: 0;
	padding-top: 5px;
}

#container {
	width: 1000px;
	margin:0 auto;
	padding: 0;
	background: #fff;

}

#container-inner {
	width: 920px;
	margin:0 auto;
	padding: 20px 0;
	background: #fff;
}

span.sanguine {
    color: #db0a87;
}

span.froid {
    color: #155a8e;
}

/*----------- Header -----------------*/
#header {
	padding: 0 0 20px 0;
	margin: 0 auto;
}

#header h1  {
	font-family: Georgia, "Times New Roman", Times, serif;
	padding-top: 15px;
	padding-left: 5px;
}

#header h1 a {
	font-family: Georgia, "Times New Roman", Times, serif;
	color: #A20E1A;
	font-size: 40px;
	font-weight: normal;
	text-decoration: none;
}

#header p {
	color: #000;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
	font-weight: bold;
	margin-left: 12px;
	margin-top: 0px;
	padding-left: 8px;
	line-height:12px;
}


/*----------- Navigation -----------------*/
#nav {
	font-family: Tahoma, Geneva, sans-serif;
	height: 40px;
	width: 920px;
	background: -moz-linear-gradient(100% 35% 90deg, #155a8e, #082338);
	background: -webkit-gradient(linear, 0% 0%, 0% 35%, from(#082338), to(#155a8e));
	/*background-color:#082338;*/
	margin: 0 0 2px 0;
	-moz-border-radius: 5px; /* FF1+ */
	-webkit-border-radius: 5px; /* Saf3-4 */
	border-radius: 5px;
}

#nav ul {
	list-style: none;
	padding: 0 10px;
	margin: 0;
	height: 40px;
}

#nav ul li {
	float: left;
	display: block;
	padding:0;
}

#nav ul li a {
	color: #fff;
	display: block;
	font-size: 15px;
	padding: 10px 20px;
	text-decoration: none;
	text-transform: uppercase;
}

#nav ul li a:hover {
	background: #155a8e;
	color: #fff;
}

.left {
    float: left;
}

.right {
    float: right;
}


/*----------- Slideshow -----------------*/
#slider { width:920px; padding:0; margin:0 auto; }
div#slideshow { float: left; width: 100%; padding:0 0 21px 0; height: 241px; }
.slide-image { width: 100% !important; height: 241px; }
.controls-outer { width: 920px; margin-left: auto; margin-right: auto; }
#slide_controls { float: right; padding:0; position: relative; margin:0; z-index: 1000; width:920px; }
#slide_controls ul { margin:0 auto; padding:0; width:88px; }
#slide_controls ul li { margin: 0; padding: 0; list-style: none; }
#slide_controls ul li { float: left; display: block; }
#slide_controls ul li a { width: 14px; height: 14px; background:url('../images/tabs_2.gif') no-repeat center center; display: block; float: left; padding:2px; margin:2px !important; margin:1px 1px; outline: none; }
#slide_controls ul li a:focus { outline: none; }
#slide_controls ul li a:hover, #slide_controls ul li a.activeSlide { background:url('../images/tabs_1.gif') no-repeat center center; }


/*----------- top full width -----------------*/
#fulltop-container {
  width: 920px;
  padding:0;
  margin:0 auto;
}

#fulltop {
  width: 100%;
  padding:0 0 21px 0;
}

#fulltop img {
    width: 920px;
	height: 200px;
}

/*----------- Main Content -----------------*/
#main {
	margin:0 auto;
	padding: 0;
	width: 920px;
	min-height: 10px;
}

#main2 {
	width: 920px;
	margin:0 auto;
	padding: 0;
}

#top_main2 {
  width: 100%;
  padding: 21px 0 21px 0;
}

.content {
  float: left;
  width: 660px;
  /*margin: 15px 0px;*/
  padding-right:6px;
  border-right:1px solid #D6D6D6;
}

#top.content {
    margin-top: 15px;
}

#left.content {
    width: 300px;
    border-right: none;
}
#right.content {
    width: 300px;
    padding-left: 14px;
}
#bottom.content {
}
.sidebar {
	width: 240px;
	padding: 0;
	float: right;
	padding-top: 15px;
}

.sidebar ul {
	padding: 0;
	margin:10px 0 35px 20px;
}

.sidebar li ul li {
	display: block;
	border-top: none;
	padding: 6px 7px;
	margin: 0;
	line-height: 1.5em;
	font-size: 14px;
	color: #555;
}

.sidebar li ul li a {
	font-weight: normal;
	color: #555;
}

.sidebar li ul li a:hover {
	color: #155a8e;
}

.sidebar h4 {
	color: #A20E1A;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 22px;
	letter-spacing: 0;
	text-transform: uppercase;
	margin: 0;
	border-bottom: 1px solid #D6D6D6;
	padding: 5px 5px;
	font-weight: bold;
}

.news-item {
padding-bottom:10px;
padding-top:10px;
}
.latest-news a {
font-weight:bold;
}
.date {
color:#000;
font-weight:bold;
}


/*----------- Footer -----------------*/

#footer {
	border-top:1px solid #E7E7E7;
	margin: 20px auto;
	padding: 10px 0 50px;
	width:960px;
	text-align:right;
}

#footer p {
	color: #999;
	font-size: 11px;
	font-family: Arial, Helvetica, sans-serif;
	margin: 0 auto;
	display: block;
	padding: 0;
	width: 960px;
}

#footer p a {
	color: #999;
}






/*
Pretty Table Styling
CSS Tricks also has a nice writeup: http://css-tricks.com/feature-table-design/
*/

table {
	overflow: hidden;
	border: 1px solid #d3d3d3;
	background: #fefefe;
	width: 80%;
	margin: 10px auto 10px;
	-moz-border-radius: 5px; /* FF1+ */
	-webkit-border-radius: 5px; /* Saf3-4 */
	border-radius: 5px;
	-moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
}

th, td {padding: 18px 28px 18px; text-align: center; }

th {padding-top: 22px; text-shadow: 1px 1px 1px #fff; background: #e8eaeb;}

td {border-top: 1px solid #e0e0e0; border-right: 1px solid #e0e0e0;}

tr.odd-row td {background: #f6f6f6;}

td.first, th.first {text-align: left}

td.last {border-right: none;}

/*
Background gradients are completely unnecessary but a neat effect.
*/

/* bright
#eaf4ff
#dee8f2
*/

td {
	background: -moz-linear-gradient(100% 25% 90deg, #eaf4ff, #dee8f2);
	background: -webkit-gradient(linear, 0% 0%, 0% 25%, from(#dee8f2), to(#eaf4ff));
}

/* dark
#e0efff
#d5e3f2
*/

tr.odd-row td {
	background: -moz-linear-gradient(100% 25% 90deg, #e0efff, #d5e3f2);
	background: -webkit-gradient(linear, 0% 0%, 0% 25%, from(#d5e3f2), to(#e0efff));
}

/* header - dark
#cbdef2
#c0d3e5
*/

th {
	background: -moz-linear-gradient(100% 20% 90deg, #c0d3e5, #cbdef2);
	background: -webkit-gradient(linear, 0% 0%, 0% 20%, from(#cbdef2), to(#c0d3e5));
}

/*
I know this is annoying, but we need additional styling so webkit will recognize rounded corners on background elements.
Nice write up of this issue: http://www.onenaught.com/posts/266/css-inner-elements-breaking-border-radius

And, since we've applied the background colors to td/th element because of IE, Gecko browsers also need it.
*/
tr:first-child th.first {
	-moz-border-radius-topleft:5px;
	-webkit-border-top-left-radius:5px; /* Saf3-4 */
}

tr:first-child th.last {
	-moz-border-radius-topright:5px;
	-webkit-border-top-right-radius:5px; /* Saf3-4 */
}

tr:last-child td.first {
	-moz-border-radius-bottomleft:5px;
	-webkit-border-bottom-left-radius:5px; /* Saf3-4 */
}

tr:last-child td.last {
	-moz-border-radius-bottomright:5px;
	-webkit-border-bottom-right-radius:5px; /* Saf3-4 */
}





/*table {*/
	/*width: 100%;*/
	/*text-align: left;*/
/*}*/

/*th, td {*/
	/*padding: 10px 10px;*/
/*}*/

/*th {*/
	/*color: #fff;*/
	/*background: #1FAABE none repeat-x scroll left top;*/
/*}*/

/*td {*/
	/*background: #fff;*/
	/*border-bottom: 1px solid #ccc;*/
/*}*/

blockquote {
	display: block;
	padding: 10px;
	margin-bottom: 20px;
	border-left: 5px solid #36CBDF;
}

blockquote p {
	font-style: italic;
	font-family: Georgia, "Times New Roman", Times, serif;
	margin: 0;
	color: #555;
	height: 1%;
}


fieldset {
	display: block;
	border: none;
	border-top: 1px solid #ccc;
}

fieldset legend {
	font-weight: bold;
	font-size: 14px;
	padding-right: 10px;
	color: #555;
}

fieldset form {
	padding-top: 15px;
}

fieldset p label {
	float: left;
	width: 150px;
}

form input, form select, form textarea {
	padding: 5px;
	color: #222;
	border: 1px solid #ccc;
	border-right:1px solid #ddd;
	border-bottom:1px solid #ddd;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
}

form input.formbutton {
	border: none;
	background: #1FAABE;
	color: #ffffff;
	font-weight: bold;
	padding: 5px 10px;
	font-size: 14px;
	font-family: Tahoma, Geneva, sans-serif;
	letter-spacing: 1px;
	width: auto;
	overflow: visible;
}

form.searchform p {
	margin: 5px 0;
}


span.required {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #ff0000;
}

.clear {
	clear: both;
}

