<html>
  <head>
	<style type="text/css">
	  img.mywidth {
		width: 885px;
		}
    </style>
  </head>
<body>
  <div id="funnyContainer">
  </div>

  <div id="showmorediv">
	If you reached here, maybe there is no more stuff.
	Or scroll up and back down to try again...
  </div>
  <hr />
  <p>Content from Reddit...</p>

  <!--now, update page when button scrolls into view-->

  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>

  <script>
    $(function(){
	  var querypage = 1;
	  var lastTime = new Date().getTime() / 1000;

	  var insertPosts = function (post){
	    data = [
		"\n<br />",
		"<h2>[" + post.subreddit + "]",
		'<a href="' + post.linkToPage + '">' + post.title + '</a> (' + post.ncomments + ') </h2>',
		'<a href="' + post.url + '"><img style="width:800;" src="' + post.url + '"></img></a>',
		'<br /><hr />',
		].join('\n');

		$("#funnyContainer").append(data);
	  };

	  var processJson = function(result) {
		console.log('Hooray... got result');
		console.log(result);
		result.map(insertPosts);
	  };

	  var loadContent = function(){
	    var apiurl = "/reddit/api/v1/get_posts?subr=funny&page=" + querypage + "&count=5";
		console.log(apiurl);
		$.getJSON(apiurl, processJson);
		querypage = querypage + 1;
	  };

	  var nodeInScreen = function(node) {
		var win = $(window);
		var vbottom = win.scrollTop() + document.body.clientHeight;
		var btop = node.offset().top;
		console.log(btop, vbottom);
		if (btop < vbottom) {
		  return true;
		}
		return false;
	  };

	  var onScroll = function(){
		if (nodeInScreen($("#showmorediv"))) {
		  var currentTime = new Date().getTime()/1000;
		  console.log('showmore visible');
		  if (currentTime - lastTime > 0.2) {
			console.log("will load stuff");
			loadContent();
			lastTime = currentTime;
		  } else {
		    console.log("too soon");
		  }
		};
	  };

	  $(window).scroll(onScroll);

	  $(document).ready( function () {
		loadContent();
	  });
	});
  </script>
</body>
</html>
